<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/admin/sidebar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <script type="text/javascript" src="/static/js/sidebar.js" defer></script>
  <link rel="icon" type="image" href="/static/media/bookhaven-logo.png">
</head>
<body>
  <nav id="sidebar">
    <ul>
      <li>
        <span class="logo"><p>BookHaven Online</p></span>
        <button onclick="toggleSidebar()" id="toggle-btn">
          <i class="fas fa-angles-left"></i>
        </button>
      </li>
      <li class="profile">
        <div class="profile-info">
            <img src="/static/media/bookhaven-logo.png" alt="Admin Profile">
            <span>Hi, Admin!</span>
        </div>
        </li>
      <li class="{% if active_page == 'manage_books' %}active{% endif %}">
        <a href="{{ url_for('manage_books') }}">
          <i class="fas fa-book"></i>
          <span>Manage Books</span>
        </a>
      </li>
      <li class="{% if active_page == 'add_books' %}active{% endif %}">
        <a href="{{ url_for('add_book') }}">
          <i class="fa-solid fa-file-arrow-up"></i>
          <span>Add Books</span>
        </a>
      </li>
      <li class="{% if active_page == 'admin_books_list' %}active{% endif %}">
        <a href="">
          <i class="fas fa-list-ul"></i>
          <span>Books List</span>
        </a>
      </li>
      <li class="{% if active_page == 'admin_orders_list' %}active{% endif %}">
        <a href="">
          <i class="fas fa-users"></i>
          <span>Orders List</span>
        </a>
      </li>
      <li class="{% if active_page == 'announcements' %}active{% endif %}">
          <a href="">
              <i class="fas fa-bullhorn"></i>
              <span>Post Announcement</span>
          </a>
      </li>
      <li>
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </nav>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
