<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}">
</head>
<body>

<div class="landing-container">
    <div class="landing-box">
        <h1>Welcome to <span>BookHaven !</span>
        <h4>a safe place for every story, a peaceful space for every reader</h4>
        <p class="subtitle">Choose how you want to explore our system</p>

        <div class="btn-group">
            <a href="{{ url_for('user_login') }}" class="portal-btn user-btn">
                <i class="fas fa-user"></i>
                User Portal
            </a>

            <a href="{{ url_for('admin_login') }}" class="portal-btn admin-btn">
                <i class="fas fa-user-shield"></i>
                Admin Portal
            </a>
        </div>
    </div>
</div>

</body>
</html>
