{% extends 'user/header.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/user/cart.css">
  <link rel="icon" type="image" href="/static/media/bookhaven-logo.png">
  <title>My Cart - BookHaven</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="my-cart">
    <div class="cart-details">
    <h2>My Cart</h2>
    <p class="subtext">3 items in your cart</p>

    <div class="cart-header">
        <span class="header-details">Book Details</span>
        <span class="header-price">Price</span>
        <span class="header-qty">Quantity</span>
        <span class="header-action">Action</span>
    </div>

    <div class="cart-items-content">
        <div class="cart-item">
            <div class="book-info">
            <img src="/static/media/book1.jpg" alt="Atomic Habits" class="cart-img">
                <div class="cart-item-info">
                    <h3>Atomic Habits</h3>
                    <p class="author">Authour</p>
                    <p class="genre">Self-Help</p>
                </div>
            </div>

            <p class="item-price">₹209.00</p>

            <div class="qty-input">
                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
            </div>

            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>

        <div class="cart-item">
            <div class="book-info">
            <img src="/static/media/book1.jpg" alt="Atomic Habits" class="cart-img">
                <div class="cart-item-info">
                    <h3>Atomic Habits</h3>
                    <p class="author">Authour</p>
                    <p class="genre">Self-Help</p>
                </div>
            </div>

            <p class="item-price">₹1111209.00</p>

            <div class="qty-input">
                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
            </div>

            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>

        <div class="cart-item">
            <div class="book-info">
            <img src="/static/media/book1.jpg" alt="Atomic Habits" class="cart-img">
                <div class="cart-item-info">
                    <h3>Atomic Habits</h3>
                    <p class="author">Authour</p>
                    <p class="genre">Self-Help</p>
                </div>
            </div>

            <p class="item-price">₹209.00</p>

            <div class="qty-input">
                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
            </div>

            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>

        <div class="cart-item">
            <div class="book-info">
            <img src="/static/media/book1.jpg" alt="Atomic Habits" class="cart-img">
            <div class="cart-item-info">
                <h3>Atomic Habits</h3>
                <p class="author">Authour</p>
                <p class="genre">Self-Help</p>
            </div>
            </div>

            <p class="item-price">₹209.00</p>

            <div class="qty-input">
                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
            </div>

            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>

        <div class="cart-item">
            <div class="book-info">
            <img src="/static/media/book1.jpg" alt="Atomic Habits" class="cart-img">
            <div class="cart-item-info">
                <h3>Atomic Habits</h3>
                <p class="author">Authour</p>
                <p class="genre">Self-Help</p>
            </div>
            </div>

            <p class="item-price">₹209.00</p>

            <div class="qty-input">
                <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
            </div>

            <button class="remove-btn"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>
</div>

  <!-- RIGHT SECTION -->
<div class="order-summary">
    <h2><i class="fa-solid fa-cart-shopping"></i> Order Summary</h2>

    <div class="summary-item">
        <span>Subtotal (3 items)</span>
        <span>₹2174.00</span>
    </div>

    <div class="summary-item">
        <span>Shipping</span>
        <span class="free">Free</span>
    </div>

    <div class="summary-item">
        <span>Taxes</span>
        <span>Calculated at checkout</span>
    </div>

    <div class="fulfillment">
    <h3>Fulfillment Method</h3>
        <label class="radio">
            <input name="radio" type="radio" checked>
            <span>Pick-up</span>
        </label>

        <label class="radio">
            <input name="radio" type="radio">
            <span>Delivery</span>
        </label>

    <div class="summary-total">
        <span>Total</span>
        <span class="total-amount">₹2174.00</span>
    </div>

    <a href="{{ url_for('checkout') }}"><button class="checkout-btn">Checkout Now<i class="fa-solid fa-arrow-right"></i></button></a>
    <div class="continue-btn">
        <a href="{{ url_for('books') }}">Continue Shopping</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/qty_control.js') }}"></script>
</body>
</html>
{% endblock %}
