<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/form_header.css') }}">
    <link rel="icon" type="image" href="/static/media/bookhaven-logo.png">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container header-flex">

            <!-- Left Logo -->
            <div class="logo">
                <img src="/static/media/bookhaven-logo.png" alt="Logo" class="logo-img">
                <span class="logo-text underline-anim">BookHaven</span>
            </div>
            
            <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="nav" id="mobileNav">
                <a href="{{ url_for('home') }}" class="nav-link underline-anim">Home</a>
                <a href="{{ url_for('about') }}" class="nav-link underline-anim">About</a>
                <a href="{{ url_for('contact') }}" class="nav-link underline-anim">Contact</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>